// GRAY COLOR
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// FONT FAMILY
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;

// THEME COLOR
$orange-light: #ffb548;
$orange-dark: #f3af34;
$gray-secondary: $gray-800;

// PRIMARY AND SECONDARY
$primary: $orange-light;
$secondary: $gray-secondary;

// CAROUSEL

$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-spacer: 1rem;

$carousel-control-icon-width: 2rem;

$carousel-control-prev-icon-bg: url(/images/prev.svg);
$carousel-control-next-icon-bg: url(/images/next.svg);

.carousel-indicators {
  [data-bs-target] {
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
    margin-right: $carousel-indicator-spacer;
    margin-left: $carousel-indicator-spacer;
    border-radius: 50%;
  }
}

// IMPORT BOOTSTRAP CSS V5
@import '../node_modules/bootstrap/scss/bootstrap.scss';
