// SCROLL ANIMATION

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  40% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
