@use '../custom' as *;
@use '../components/mixins' as *;

.main-btn {
  height: 60px;
  width: 260px;
  border-radius: 4px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
}
