@use '../custom' as *;
// ABSOLUTE CENTER
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexColumnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin mainGradient {
  background: linear-gradient(194.68deg, $orange-light 11.27%, #f3af34 90.4%);
}
